body {
  margin: 0;
  font-family: Arial, sans-serifl;
  text-aling: center;
}

/*top bar type shit*/
.topbar {
  background-color: #007bff;
  color: white;
  padding: 15px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

main{
  margin-top: 80px;
  padding: 20px;
}

img{
  border-radius: 10px;
  margin-top; 20px
}

a{
  color:#fff:
  text-decoration:underline;
}

a:hover { opacity: 0.8};
