body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1, p {
    white-space: nowrap;
}

.topbar {
  background: #007bff;
  padding: 0.5rem ;
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}
.topbar a, .topbar.social-icons a{
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}
.topbar.title {
  margin: 0;
  font-size: 1.5rem;
}

.social-icons a:hover {
  opacity: 0.7;
}

main {
  margin-top: 90px;
  padding: 20px;
}



